CrmApi__BaseUrl=https://omniremit.rma.com.my:50443/
CrmApi__ClientId=0d55dc69-8e33-46ff-89d4-bc119efd7cdf
CrmApi__ClientSecret=u+Rd/VKSPYWtGSc7PyDTZ0QFv4ll8yVzzJoOHPERBNk=
Jwt__Issuer=omniremit-auth-service
Jwt__Audience=omniremit-host
Jwt__SigningKeyPublic=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6Zj0rOzWq6sQH1/ZW4nb\nNW5WOzJ6DlvYHZXR5dcOAAJND/S4Uow62F+4rdL+4fhsWkU3zRuOO1a2Ak8Ag9C7\n8GcMLPUDh9eIQBIDXDS4ZAKyPBPoMxbpevHkXIL1zyZSpVuAx/qv2lUKTvFIjs8X\n4GnIDll4fAueRR4XoaTaC6dkg6deIA1Ud3TWn/6AEp8Y985BrDKgsQROIhdHMxsb\n965/6rHof+LiknT/+C4QtqdzsFPcQxaBuGsZCDoM5hGHIMh7fZx/Pbl9s6YZ6lpt\ndwQr4H6Z6JEQOw5769VqpieDANZlrfTVZOc6rVt2EOSc4K30dcUeqaENf/O74CtL\n/wIDAQAB\n-----END PUBLIC KEY-----
AllowedOrigins__0=http://localhost:5173
AllowedOrigins__1=http://localhost:5001
AllowedOrigins__2=http://localhost:5002
AllowedOrigins__3=http://localhost:5003
